<div class="p-3 border">
    <h5>Cell_3</h5>
    <p>Augur et fulgente decorus arcu Phoebus
        acceptusque novem Camenis, qui salutari
        levat arte fessos corporis artus, si Palatinas
        videt aequos aras remque.
        Romanam Latiumque felix alterum in
        lustrum meliusque semper prorogat aevom,
        quaeque Aventinum tenet Algidumque,
        quindecim Diana preces virorum curat et
        votis puerorum amicas adplicat auris.</p>
    <a routerLink="/contact" class="text-danger">Link</a>
  </div>