<nav class="navbar justify-content-end">
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <a class="text-danger p-2" routerLink="/home">LINKS &gt;&gt;</a>
      </li>
      <li class="nav-item">
        <a class="text-danger p-2" routerLink="/about">SITE MAP &gt;&gt;</a>
      </li>
      <li class="nav-item">
        <a class="text-danger p-2" routerLink="/contact">CONTACT &gt;&gt;</a>
      </li>
    </ul>
  </nav>
  
  <nav class="navbar1 bg-body-secondary mb-1">
    <a routerLink="/home" class="text-danger">Home</a>
    <a routerLink="/about" class="text-danger p-2">About</a>
    <a routerLink="/gallery" class="text-danger p-2">Gallery</a>
    <a routerLink="/contact" class="text-danger p-2">Contact</a>
  </nav>