


<!-- Hello World from {{Name}}!
<br>
{{spi|number:'2.2-2'}} -->

<!-- <p>{{title}}</p>
<p>{{amount}}</p>
<p>Today'sDate:{{TodaysDate|date:'fullDate'}}</p>
<p>formattedAmount:{{amount|currency:'INR'}}</p>
<p>Upperacse:{{name|uppercase}}</p>
<p>Lowercase:{{name|lowercase}}</p>
<p>Titlecase:{{name|titlecase}}</p>
<p>Decimal:{{amount|number:'8.0-2'}}</p>
<p>Decimal:{{amount|number:'1.0-8'}}</p>
<p>percent:{{0.78|percent}}</p>
<p>json:{{stuName|json}}</p>
<p>Slice:{{name|slice:1:7}}</p> -->
<!-- <input type="text" (input)="DisplayEvent($event)">
{{temp}}
<button (click)="print()">Click</button> -->


<!-- --------------Lab-4--------------- -->
<!-- <router-outlet></router-outlet>
<app-home></app-home> -->

<!-- --------------Lab-6--------------- -->
<!-- ------1------ -->
<div>
    <input (keydown)="handleKeydown($event)" placeholder="Press any key"> 
    <input (keyup)="handleKeyup($event)" placeholder="Press any key">
    <input (keypress)="handleKeypress($event)" placeholder="Press any key">
    
    <p>{{ keydownMessage }}</p>
    <p>{{ keyupMessage }}</p>
    <p>{{ keypressMessage }}</p>
</div>
  
  
